.border {
  &-sm-top {
    border-top: 1px solid black;
    @media (min-width:768px) {
      border-top: 0;
    }
  }
  &-sm-end {
    border-right: 1px solid black;
    @media (min-width:768px) {
      border-right: 0;
    }
  }
  &-sm-bottom {
    border-bottom: 1px solid black;
    @media (min-width:768px) {
      border-bottom: 0;
    }
  }
  &-sm-start {
    border-left: 1px solid black;
    @media (min-width:768px) {
      border-left: 0;
    }
  }
  &-md-top {
    @media (min-width:768px) {
      border-top: 1px solid black;
    }
  }
  &-md-end {
    @media (min-width:768px) {
      border-right: 1px solid black;
    }
  }
  &-md-bottom {
    @media (min-width:768px) {
      border-bottom: 1px solid black;
    }
  }
  &-md-start {
    @media (min-width:768px) {
      border-left: 1px solid black;
    }
  }
}