// 尺寸-寬度
.w-10 {
  width: 10%;
}
.w-90 {
  width: 90%;
}
.w-md-14 {
  @media (min-width:768px) {
    width: 14%;
  }
}
.w-md-20 {
  @media (min-width:768px) {
    width: 20%;
  }
}
.w-md-23 {
  @media (min-width:768px) {
    width: 23%;
  }
}
.w-md-30 {
  @media (min-width:768px) {
    width: 30%;
  }
}
.w-md-43 {
  @media (min-width:768px) {
    width: 43%;
  }
}
.w-md-45 {
  @media (min-width:768px) {
    width: 45%;
  }
}
.w-md-54 {
  @media (min-width:768px) {
    width: 54%;
  }
}
.w-md-55 {
  @media (min-width:768px) {
    width: 55%;
  }
}
.w-md-75 {
  @media (min-width:768px) {
    width: 75%!important;
  }
}
.w-sm-12 {
  @media (max-width:767px) {
    width: 12%!important;
  }
}
.w-sm-18 {
  @media (max-width:767px) {
    width: 18%!important;
  }
}
.w-sm-21 {
  @media (max-width:767px) {
    width: 21%!important;
  }
}
.w-sm-28 {
  @media (max-width:767px) {
    width: 28%!important;
  }
}
.w-sm-29 {
  @media (max-width:767px) {
    width: 29%!important;
  }
}
.w-sm-33 {
  @media (max-width:767px) {
    width: 33.33333%!important;
  }
}
.w-sm-60 {
  @media (max-width:767px) {
    width: 60%!important;
  }
}
.w-sm-100 {
  @media (max-width:767px) {
    width: 100%!important;
  }
}
// 尺寸-高度
.h-16px {
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.h-32px {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.h-48px {
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.h-92px {
  width: 92px;
  height: 92px;
  object-fit: cover;
}
.h-md-169px {
  width: 100%;
  height: 173px;
  object-fit: cover;
  @media (min-width:768px) {
    height: 169px;
  }
}
.h-md-174px {
  width: 100%;
  height: 192px;
  object-fit: cover;
  @media (min-width:768px) {
    height: 174px;
  }
}
.h-md-254px {
  width: 100%;
  height: 139px;
  object-fit: cover;
  @media (min-width:768px) {
    height: 254px;
  }
}
.h-md-246px {
  width: 100%;
  height: 289px;
  object-fit: cover;
  @media (min-width:768px) {
    height: 246px;
  }
}
.h-md-254px {
  width: 100%;
  height: 97px;
  object-fit: cover;
  @media (min-width:768px) {
    height: 254px;
  }
}
.h-md-255px {
  width: 100%;
  height: 192px;
  object-fit: cover;
  @media (min-width:768px) {
    height: 255px;
  }
}
.h-md-264px {
  width: 100%;
  height: 213px;
  object-fit: cover;
  @media (min-width:768px) {
    height: 264px;
  }
}
.h-md-326px {
  width: 100%;
  height: 174px;
  object-fit: cover;
  @media (min-width:768px) {
    height: 326px;
  }
}
.h-md-327px {
  width: 100%;
  height: 151px;
  object-fit: cover;
  @media (min-width:768px) {
    height: 327px;
  }
}
.h-md-328px {
  width: 100%;
  height: 164px;
  object-fit: cover;
  object-position: center top;
  @media (min-width:768px) {
    height: 328px;
  }
}
.h-md-334px {
  width: 100%;
  height: 173px;
  object-fit: cover;
  @media (min-width:768px) {
    height: 334px;
  }
}
.h-md-339px {
  width: 100%;
  height: 160px;
  object-fit: cover;
  @media (min-width:768px) {
    height: 339px;
  }
}
.h-md-340px {
  width: 100%;
  height: 372px;
  object-fit: cover;
  @media (min-width:768px) {
    height: 340px;
  }
}
.h-md-368px {
  width: 100%;
  height: 173px;
  object-fit: cover;
  @media (min-width:768px) {
    height: 368px;
  }
}
.h-md-374px {
  width: 92px;
  height: 92px;
  object-fit: cover;
  object-position: center top;
  @media (min-width:768px) {
    width: 100%;
    height: 374px;
  }
}
.h-md-395px {
  width: 100%;
  height: 139px;
  object-fit: cover;
  @media (min-width:768px) {
    height: 395px;
  }
}
.h-md-396px {
  width: 100%;
  height: 185px;
  object-fit: cover;
  @media (min-width:768px) {
    height: 396px;
  }
}
.h-md-500px {
  width: 100%;
  height: auto;
  object-fit: cover;
  @media (min-width:768px) {
    height: 500px;
  }
}
.h-md-546px {
  width: 100%;
  height: 288px;
  object-fit: cover;
  @media (min-width:768px) {
    height: 546px;
  }
}
.filter-item {
  width: 68px;
  height: 45px;
  @media (min-width:768px) {
    width: 88px;
    height: 58px;
  }
}
// 文字-字級
.font-noto {
  font-family: "Noto Sans TC";
}
.font-paytone {
  font-family: "Paytone One", monospace;
}
.display-md-1 {
  @media (min-width:768px) {
    font-size: 80px!important;
  }
}
// 文字-行高
.lh {
  &-16 {
    line-height: 16px;
  }
  &-17 {
    line-height: 17px;
  }
  &-18 {
    line-height: 18px;
  }
  &-19 {
    line-height: 19px;
  }
  &-20 {
    line-height: 20px;
  }
  &-26 {
    line-height: 26px;
  }
  &-29 {
    line-height: 29px;
  }
  &-32 {
    line-height: 32px;
  }
  &-34 {
    line-height: 34px;
  }
  &-35 {
    line-height: 35px;
  }
  &-46 {
    line-height: 46px;
  }
  &-92 {
    line-height: 92px;
  }
  &-md-24 {
    @media (min-width:768px) {
      line-height: 24px;
    }
  }
  &-md-46 {
    @media (min-width:768px) {
      line-height: 46px;
    }
  }
  &-md-50 {
    @media (min-width:768px) {
      line-height: 50px;
    }
  }
  &-md-64 {
    @media (min-width:768px) {
      line-height: 64px;
    }
  }
  &-md-70 {
    @media (min-width:768px) {
      line-height: 70px;
    }
  }
  &-md-85 {
    @media (min-width:768px) {
      line-height: 85px;
    }
  }
}
// 文字-方向
.writing-vertical-lr {
  writing-mode: vertical-lr;
}
// 文字-隱藏
.plural-text-hidden {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
// 位置
.position-md-relative {
  @media (min-width:768px) {
    position: relative;
  }
}
.position-md-absolute {
  @media (min-width:768px) {
    position: absolute;
  }
}
.bottom-md-n12 {
  @media (min-width:768px) {
    bottom: -48px;
  }
}
// Display
.d-xs-none {
  @media (max-width:767px) {
    display: none;
  }
}
// Object
.object-fit-cover {
  object-fit: cover;
}
.top-line, .bottom-line {
  width: 1px;
  height: 20px;
  background-color: black;
}