.accordion {
  &-item {
    border: 1px solid black;
  }
  &-button {
    &::after {
      background-image: url("../images/angle-down-solid.svg");
      background-size: 12px;
      background-position: right center;
    }
    &:focus {
      box-shadow: none;
    }
  }
  &-button:not(.collapsed) {
    color: black;
    background-color: white;
    box-shadow: none;
    &::after {
      background-image: url("../images/angle-down-solid.svg");
      background-size: 12px;
      background-position: left center;
    }
  }
}