.btn {
  &-search {
    font-size: 18px;
    line-height: 18px;
  }
  &-md-search {
    font-size: 18px;
    line-height: 18px;
    @media (min-width:768px) {
      font-size: 24px;
      line-height: 24px;
    };
  }
  &-back {
    font-size: 7px;
    line-height: 12px;
  }
  &-triangle {
    position: relative;
    padding: 8px 48px;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      border-left: 16px solid transparent;
      border-bottom: 16px solid $primary;
    }
    &:hover::after {
      border-bottom: 16px solid black;
    }
  }
  &-white {
    background-color: white;
    border: 1px solid black;
    &:hover {
      background-color: $primary;
      color: white;
    }
  }
  &-link {
    color: black;
    text-decoration: none;
    &:hover {
      background-color: $primary;
      color: white;
      border: 1px solid black;
    }
  }
  &-close {
    opacity: 1;
  }
}
.btn-ranking {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 32px solid transparent;
  border-bottom: 32px solid black;
  &.open {
  border-bottom: 32px solid $primary;
  }
  & .plus {
    position: absolute;
    bottom: -28px;
    right: 4px;
    font-size: 10px;
    line-height: 10px;
  }
  & .minus {
    display: none;
    position: absolute;
    bottom: -28px;
    right: 4px;
    font-size: 10px;
    line-height: 10px;
  }
}