.nav-tabs {
  border-bottom: 1px solid black;
  & .nav-link {
    color: $dark;
    padding: 16px;
    @media (min-width:768px) {
      padding: 16px 48px;
    }
  }
  & .nav-link:hover {
    color: $primary;
    border-color: transparent;
  }
  & .nav-link.active {
    color: black;
    background-color: transparent;
    border-color: black black $light;
  }
}